# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [ ]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [8]:
import pandas as pd
sal = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [9]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [10]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9903 entries, 0 to 9902
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                9903 non-null   int64
 1   EmployeeName      9903 non-null   object
 2   JobTitle          9903 non-null   object
 3   BasePay           9903 non-null   float64
 4   OvertimePay       9903 non-null   float64
 5   OtherPay          9903 non-null   float64
 6   Benefits          0 non-null      float64
 7   TotalPay          9902 non-null   float64
 8   TotalPayBenefits  9902 non-null   float64
 9   Year              9902 non-null   float64
 10  Notes             0 non-null      float64
 11  Agency            9902 non-null   object
 12  Status            0 non-null      float64
dtypes: float64(9), int64(1), object(3)
memory usage: 1005.9+ KB

**What is the average BasePay ?**

In [14]:
sal.BasePay.mean()

112483.01967989499

** What is the highest amount of OvertimePay in the dataset ? **

In [15]:
sal.OvertimePay.max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [16]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL'].JobTitle

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [17]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL'].TotalPayBenefits

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [23]:
sal[sal['TotalPayBenefits']==sal.TotalPayBenefits.max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [24]:
sal[sal['TotalPayBenefits']==sal.TotalPayBenefits.min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
9901,9902,LONNIE MOORE JR,TRANSIT OPERATOR,66166.76,25845.13,5759.8,NaN,97771.69,97771.69,2011.0,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [28]:
sal.groupby('Year').BasePay.mean()

Year
2011.0    112484.556122
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [31]:
sal['JobTitle'].nunique()

476

** What are the top 5 most common jobs? **

In [33]:
sal['JobTitle'].value_counts().head()

REGISTERED NURSE      901
POLICE OFFICER III    727
FIREFIGHTER           718
POLICE OFFICER I      426
POLICE OFFICER II     342
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [38]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts()==1)

0

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [41]:
def number(title):
    if('CHIEF' in title.upper()):
        return True
    else:
        return False

In [43]:
sum(sal['JobTitle'].apply(number))

157

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!